.vertical {
  height: 100vh;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

.extra_space {
  border-spacing: 10px;
}
